/* Import the Azure/Blue Pre-built Theme */
@import '@angular/material/prebuilt-themes/azure-blue.css';

/* Import Material Icons and Roboto Font */
@import 'https://fonts.googleapis.com/icon?family=Material+Icons';
@import 'https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap';

/* Set up basic body styles */
html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}